* {
	background-color: #343434;
}
@font-face {
	font-family: 'Bebas Neue';
	src: url(../htdocs/BebasNeue.otf);
}
@font-face {
	font-family: 'Barlow Condensed';
	src: url(../htdocs/BarlowCondensed.ttf);
}
.navbar {
	height: 50px;
	width: 1531px;
	margin-top: -8px;
	margin-left:-20px;
	margin-bottom: 10px;
	background-color: #2A262D;
}
.button1 {
	margin-left: 80px;
	margin-top: 15px;
	position: absolute;
	color: #ACDF87;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	background: none;
}
.button1::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #ACDF87;
	transition: width .3s;
}
.button1:hover::after {
	width: 100%;
	transition: width .3s;
}
.button2 {
	margin-left: 180px;
	margin-top: 15px;
	position: absolute;
	color: #FDF5E6;
	text-decoration: none;
	font-family: Arial;
	background: none;
}
.button2::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #dddddd;
	transition: width .3s;
}
.button2:hover::after {
	width: 100%;
	transition: width .3s;
}
.button3 {
	margin-left: 280px;
	margin-top: 15px;
	position: absolute;
	color: #FDF5E6;
	text-decoration: none;
	font-family: Arial;
	background: none;
	width: 150px;
}
.button3::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #dddddd;
	transition: width .3s;
}
.button3:hover::after {
	width: 100%;
	transition: width .3s;
}
.button4 {
	margin-left: 460px;
	margin-top: 15px;
	position: absolute;
	color: #FDF5E6;
	text-decoration: none;
	font-family: Arial;
	background: none;
}
.button4::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #dddddd;
	transition: width .3s;
}
.button4:hover::after {
	width: 100%;
	transition: width .3s;
}
.button9 {
	margin-left: 550px;
	margin-top: 15px;
	position: absolute;
	color: #FDF5E6;
	text-decoration: none;
	font-family: Arial;
	background: none;
}
.button9::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #dddddd;
	transition: width .3s;
}
.button9:hover::after {
	width: 100%;
	transition: width .3s;
}
.logo {
	position: absolute;
	margin-left: 1300px;
	margin-top: -50px;
	height: 34px;
	width: 34px;
	background: none;
}
.webtitle {
	position: absolute;
	margin-left: 1338px;
	margin-top: -50px;
	font-size: 24px;
	font-style: italic;
	color: #FDF5E6;
	font-weight: 30;
	font-family: Bebas Neue;
	background: none;
	width:  160px;
}
.imgheader {
	width: 590px;
	height: 315px;
	position: absolute;
	margin-left: 480px;
	margin-top: 15px;
	background: none;
	margin-bottom: 20px;
}
.contenttitle {
	position: absolute;
	margin-left: 80px;
	margin-top: 350px;
	font-size: 42px;
	background-color: #343434;
	font-family: Bebas Neue;
	color: #FDF5E6;
}
.content {
	position: absolute;
	margin-left: 80px;
	margin-top: 400px;
	font-size: 28px;
	width: 900px;
	background-color: #343434;
	font-family: Barlow Condensed;
	color: #ccc;
}
.content2 {
	position: absolute;
	margin-left: 80px;
	margin-top: 520px;
	width: 900px;
	background-color: #343434;
	font-size: 28px;
	font-family: Barlow Condensed;
	color: #ccc;
}
.contentimg {
	position: absolute;
	margin-left: 1100px;
	margin-top: 345px;
	height: 383px;
	width: 296px;
}
.title2 {
	position: absolute;
	margin-top: 780px;
	margin-left: 100px;
	font-family: Bebas Neue;
	font-size: 28px;
	color: #FDF5E6;
	font-style: italic;
	z-index: 20;
}
	
.shoe1 {
	position: absolute;
	margin-top: 760px;
	margin-left: 125px;
	width: 410px;
	height: 500px;
}
.shoe2 {
	position: absolute;
	margin-top: 780px;
	margin-left: 545px;
	width: 410px;
	height: 500px;
}
.shoe3 {
	position: absolute;
	margin-top: 780px;
	margin-left: 965px;
	width: 410px;
	height: 500px;
}
.pic1 {
	width: 410px;
}
.pic2 {
	width: 410px;
}
.pic3 {
	width: 410px;
}
.name {
	text-align: center;
	font-family: Bebas Neue;
	font-size: 24px;
	color: #FDF5E6;
	margin-top: -5px;
}
.description {
	text-align: center;
	font-family: Segoe Ui Light;
	font-size: 15px;
	color: #FDF5E6;
	margin-left: 70px;
	margin-right: 70px;
}
button {
	position: absolute;
	transform: translate(-50%, -50%);
	margin-left: 200px;
	margin-top: 80px;
	font-family: Barlow Condensed;
}
button {
	background: none;
	color: #ccc;
	width: 280px;
	height: 160px;
	border: 2px solid #555555;
	font-size: 15px;
	border-radius: 4px;
	transition: .6s;
	overflow: hidden;
}
button:focus {
	outline: none;
}
button: before {
	content: '';
	display: block;
	position: absolute;
	background: #ACDF87;
	width: 280px;
	height: 165px;
	left: 0;
	top: 0;
	opacity: .5s;
	filter: blur(30px);
	transform: translateX(-130px) skewX(-15deg);
}
button:after {
	content: '';
	display: block;
	position: absolute;
	background: #ccc;
	width:280px;
	height: 125px;
	left: 0px;
	top: 0;
	opacity: 0;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg);
}
button:hover {
	background: #2A262D;
	cursor: pointer;
}
button:hover:before {
	transform: translateX(300px) skewX(-15deg);
	opacity: .6;
	transition: .7s;
}
button:hover:after {
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: .7s;
}
.contentpic {
	position: absolute;
	margin-left: 80px;
	margin-top: 1400px;
	width: 240px;
	height: 240px;
}
.contenttitle2 {
	position: absolute;
	margin-left: 330px;
	margin-top: 1400px;
	font-size: 39px;
	font-family: Bebas Neue;
	color: #FDF5E6;
	font-style: italic;
}
.content4 {
	position: absolute;
	margin-left: 330px;
	margin-top: 1450px;
	font-size: 23px;
	font-family: Barlow Condensed;
	color: #ccc;
	width: 1000px;
}
.content5 {
	position: absolute;
	margin-left: 330px;
	margin-top: 1520px;
	font-size: 23px;
	font-family: Barlow Condensed;
	color: #ccc;
	width: 1000px;
}
.button5 {
	margin-left: 500px;
	margin-top: 1770px;
	position: absolute;
	color: #ACDF87;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
}
.button5::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #ACDF87;
	transition: width .3s;
}
.button5:hover::after {
	width: 100%;
	transition: width .3s;
}
.button6 {
	margin-left: 600px;
	margin-top: 1770px;
	position: absolute;
	color: #FDF5E6;
	font-family: Arial;
	text-decoration: none;
}
.button6::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #dddddd;
	transition: width .3s;
}
.button6:hover::after {
	width: 100%;
	transition: width .3s;
}
.button7 {
	margin-left: 700px;
	margin-top: 1770px;
	position: absolute;
	color: #FDF5E6;
	font-family: Arial;
	text-decoration: none;
	width: 150px;
}
.button7::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #dddddd;
	transition: width .3s;
}
.button7:hover::after {
	width: 100%;
	transition: width .3s;
}
.button8 {
	margin-left: 900px;
	margin-top: 1770px;
	position: absolute;
	color: #FDF5E6;
	text-decoration: none;
	font-family: Arial;
	margin-bottom: 40px;
}
.button8::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #dddddd;
	transition: width .3s;
}
.button8:hover::after {
	width: 100%;
	transition: width .3s;
}

.button10 {
	margin-left: 1000px;
	margin-top: 1770px;
	position: absolute;
	color: #FDF5E6;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	margin-bottom: 40px;
}
.button10::after {
	content: ' ';
	display: block;
	width: 0;
	height: 2px;
	background: #dddddd;
	transition: width .3s;
}
.button10:hover::after {
	width: 100%;
	transition: width .3s;
}
.reference {
	position: absolute;
	margin-left: 540px;
	margin-top: 1920px;
	margin-bottom: 20px;
	list-style-type: none;
}
.reflink {
	font-family: Barlow Condensed;
	font-style: italic;
	color: gray;
	font-size: 14px;
}
.line1 {
	position: absolute;
	margin-top: 1340px;
	width: 1500px;
	border-width:3px;
}
.line2 {
	position: absolute;
	margin-top: 1700px;
	width: 1500px;
	border-width:3px;
}

.icontitle {
	position: absolute;
	margin-left: 700px;
	margin-top: 1820px;
	font-size: 29px;
	font-family: Bebas Neue;
	color: #FDF5E6;
	font-style: italic;
}

.sprite {
	background: url('../images/icon-sprites.png') no-repeat -349px -401px;
	width: 38px;
	height: 37px;
	position: absolute;
	margin-top: 1870px;
	margin-left: 615px;
}

.sprite:hover {
	background: url('../images/icon-sprites.png') no-repeat -349px -142px;
	width: 38px;
	height: 37px;
}

.sprite1 {
	background: url('../images/icon-sprites.png') no-repeat -992px -401px;
	width: 38px;
	height: 37px;
	position: absolute;
	margin-top: 1870px;
	margin-left: 700px;
}

.sprite1:hover {
	background: url('../images/icon-sprites.png') no-repeat -992px -142px;
	width: 38px;
	height: 37px;
}

.sprite2 {
	background: url('../images/icon-sprites.png') no-repeat -864px -403px;
	width: 38px;
	height: 33px;
	position: absolute;
	margin-top: 1872px;
	margin-left: 785px;
}

.sprite2:hover {
	background: url('../images/icon-sprites.png') no-repeat -864px -144px;
	width: 38px;
	height: 33px;
}

.sprite3 {
	background: url('../images/icon-sprites.png') no-repeat -218px -407px;
	width: 41px;
	height: 26px;
	position: absolute;
	margin-top: 1874px;
	margin-left: 860px;
}

.sprite3:hover {
	background: url('../images/icon-sprites.png') no-repeat -218px -148px;
	width: 41px;
	height: 26px;
}

.reference2 {
	list-style-type: none; text-align: center;
}